body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4)),
    url("pexels-negative-space-34676.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 80%, cover;
    background-blend-mode: normal;

    padding-top: 50px;
    text-align: center;
    font-family: Uroob, serif;
    font-size: 18pt;
    color: #ffffff;
    max-width: 650px;
    min-height: 100vh;
    margin: auto;
}

/* Hilft bei der Darstellung auf kleinen Bildschirmen,
da ab einer bestimmten Breite die Seite neu angeordnet/gestaltet werden kann (extra für kleine Bildschirme). */
@media only screen and (max-width: 750px) {
    /* z.B. */
    body {
        background-size: 100%, cover;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.button-group {
    list-style-type: none;
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
}

.town {
    background: none;
    margin: 0 50px;
    border: none;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.town:hover {
    color: #68b9c0;
}

image {
    width: 100%;
    height: auto;
    padding-top: 20px;
}

h1 {
    font-size: 35pt;
    font-weight: bold;
}

input {
    border: 3px solid #555;
    width: 26%;
    font-size: 15pt;
    background-color: #ffffff;
    transition: width 0.4s ease-in-out;
}

input:focus {
    width: 50%;
}

.register {
    background-color: cornflowerblue;
    border: 3px solid #ffffff;
    font-size: 15pt;
    transition: 0.2s ease-in-out;
}

.register:hover {
    background-color: #3e8e41;
    color: white;
}

a {
    color: white;
    padding-top: 20px;
    transition: 0.2s ease-in-out;
}

a:hover {
    color: #54ea59;
}
